.page
  :markdown
    ## About

    I made this to scratch an itch.

    * Save your YouTube, Vimeo, and Hulu videos to Instapaper instead of their separate queueing systems
    * Watch them here
    * Like / Archive / Delete
    * Peace out

    It's built with the following technologies:

    * Ruby
    * RubyGems
        * [sinatra](https://rubygems.org/gems/sinatra)
        * [haml](https://rubygems.org/gems/haml)
        * [oembed](https://rubygems.org/gems/oembed)
        * [instapaper_full](https://rubygems.org/gems/instapaper_full)
        * [gibberish](https://rubygems.org/gems/gibberish)
    * jQuery
    * CoffeeScript
    * SASS (`.scss`)
    * Heroku

    Feel free to get in touch via the email link in the footer or on twitter at [@layaboutapp](http://twitter.com/layaboutapp) or [@maxjacobson](http://twitter.com/maxjacobson).


