:markdown
  ## About

  2013-02-19, I'm re-writing this fucker from scratch. I've learned so much.

  I recently bought a domain for the project (<http://layabout.tv>) so I'm doubly motivated to improve the hell out of this thing.

  Just added some password encryption using the Gibberish gem.

  Also learned haml this morning. I think I like it more than ERB already.