<h2>FAQ</h2>

<p><a href="http://support.google.com/youtube/bin/answer.py?hl=en&answer=1290556">YouTube</a>, <a href="https://vimeo.com/blog/post:334">Vimeo</a>, and <a href="http://www.hulu.com/support/article/166520">Hulu</a> all separately provide a queueing system for watching videos later, but I find myself not remembering to check so many different places, so I just throw it all into <a href="http://www.instapaper.com">Instapaper</a>.</p>

<p>Which is awesome.</p>

<p>I sometimes wish I could peruse my Instapaper queue and see just the videos, so I created Layabout.</p>

<p>Layabout supports YouTube, Vimeo, and Hulu so far. I may support some others. <a href="http://twitter.com/layaboutapp">Let me know</a> what I&rsquo;m missing. Anything that supports <a href="http://en.wikipedia.org/wiki/OEmbed">oEmbed</a> should be able to work.</p>

<p>Layabout requires an <a href="http://www.instapaper.com/subscription">Instapaper Subscription</a>. In my experience it&rsquo;s worth it, for search and the ability to use third-party apps like this. I could try to support some other Read Later services but I don&rsquo;t really use them so I don&rsquo;t know. Sorry.</p>

<p>Layabout is a <a href="http://www.sinatrarb.com">Sinatra</a> app written in <a href="http://www.ruby-lang.org">Ruby</a>, hosted on <a href="http://heroku.com">Heroku</a>.</p>

<p>This is pretty much the first thing I&rsquo;ve made. If you&rsquo;d like me to work for you, cool, I like that. Reach me at <a href="mailto:max@maxjacobson.net">max@maxjacobson.net</a>.</p>