!!! 5

%html
  %head
    %title Layabout
    %meta{:charset => "UTF-8" }
    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %link{:rel => "stylesheet", :href => "/css/animate.min.css"}
    %link{:rel => "stylesheet", :href => "/css/buttons.min.css"}
    %link{:href => '/img/favicon.ico', :type => 'image/x-icon', :rel => 'icon'}
    %script{:type => "text/javascript"}= "/*analytics*/var _gaq=_gaq||[];_gaq.push([\"_setAccount\",\"UA-4982721-13\"]);_gaq.push([\"_trackPageview\"]);(function(){var e=document.createElement(\"script\");e.type=\"text/javascript\";e.async=true;e.src=(\"https:\"==document.location.protocol?\"https://ssl\":\"http://www\")+\".google-analytics.com/ga.js\";var t=document.getElementsByTagName(\"script\")[0];t.parentNode.insertBefore(e,t)})()"

  %body
    .header
      #ajax_gif
        %img{:src => '/img/ajax.gif'}
      .header_content
        %h1 <a href="/">Layabout</a>
        %p.menu
          -if session[:username].nil? == false # three nested ifs? really?
            -if session[:folders_list].nil? == false
              -if session[:folders_list].length > 0
                %a#readlater.folder_link{:href => "/"} Read Later
                -session[:folders_list].each do |folder|
                  %a.folder_link{:id => folder["folder_id"], :href => "/folder/#{folder['folder_id']}/#{folder['clean_title']}"}= folder["title"]
                %a{:href => "/logout"} Logout
    #buffer1
    #yield
      =yield
    #buffer2
    %footer
      .footer_content
        :markdown
          * A [Max Jacobson](http://www.hardscrabble.net/about) project
          * [About this site](/about)
          * [Email me](mailto:max@hardscrabble.net)
    %script{:src => '/js/jquery.min.js'}
    %script{:src => '/js/app.js'}
