%p Don't feel like reading? Watch the videos in your Instapaper queue.
-if @loginmessage.nil? == false
  %p{:style => "color: red"}= @loginmessage
%form#loginform{:action => "/", :method => "POST"}
  %input{:type => "text", :name => "u", :placeholder=> "Instapaper Username/Email" , :autofocus => "autofocus"}
  %input{:type => "password", :name => "pw", :placeholder => "Instapaper Password"}
  %button{:type => "submit"}Log in
:markdown
  Layabout is *not* affiliated with Instapaper, it's a third-party app by [me, Max](http://twitter.com/maxjacobson). I'm not sure if I need to say this but let's err on that side.

