%p Don't feel like reading? Watch the videos in your Instapaper queue.
%form#loginform{:action => "/", :method => "POST"}
  %input{:type => "text", :name => "u", :placeholder=> "Instapaper Username/Email" , :autofocus => "autofocus"}
  %input{:type => "password", :name => "pw", :placeholder => "Instapaper Password"}
  %button{:type => "submit"}Log in

