      <p>Don't feel like reading? Watch the videos in your Instapaper queue.</p>
      <form action="/login" method="POST">
        <input type="text" name="u" placeholder="Instapaper Username" autofocus="autofocus">
        <input type="password" name="pw" placeholder="Instapaper Password">
        <p><button class="btn btn-large btn-block btn-info">Log in</button></p>
      </form>