#ajax_gif {
  margin-left: auto;
  margin-right: auto;
}

/*
li.dotdotdot {
  display: none;
}
@media only screen and (max-width: 320px) {
  .hide_on_mobile {
    display: none;
    visibility: hidden;
  }
  .dotdotdot {
    display: inline;
  }
}*/
