.page
  :markdown
    ## Subscribe

    Using third-party apps like Layabout requires an [Instapaper Subscription](http://www.instapaper.com/subscription). It costs $1/month and unlocks access to additional features like search on top of apps like this and [ReadKit](http://readkitapp.com) for Mac.



