/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p392@global/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local("VT323"), local("VT323-Regular"), url(http://themes.googleusercontent.com/static/fonts/vt323/v4/LfMzj2MWAZU6qzlnp1MNbg.woff) format("woff");
}

/* line 20, ../../assets/sass/style.scss */
body {
  margin: 0 auto;
  font-family: "Helvetica", sans-serif;
  background-color: #e8e8e8;
}

/* line 26, ../../assets/sass/style.scss */
.header {
  width: 100%;
  height: 170px;
  position: fixed;
  border-bottom: medium double black;
  background-color: #e8e8e8;
  box-shadow: 0 10px 5px #888888;
}
/* line 30, ../../assets/sass/style.scss */
.header .header_content {
  width: 600px;
  margin: 0 auto;
}

/* line 39, ../../assets/sass/style.scss */
#buffer1 {
  height: 195px;
}

/* line 43, ../../assets/sass/style.scss */
#buffer {
  height: 0;
}

/* line 47, ../../assets/sass/style.scss */
#yield {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

/* line 56, ../../assets/sass/style.scss */
footer {
  width: 100%;
  border-top: medium double black;
  margin-top: 25px;
}
/* line 60, ../../assets/sass/style.scss */
footer .footer_content {
  width: 600px;
  margin: 0 auto;
}
/* line 64, ../../assets/sass/style.scss */
footer li {
  display: inline;
}
/* line 68, ../../assets/sass/style.scss */
footer li + li:before {
  content: "\a0 \2736\a0 ";
}

/* line 74, ../../assets/sass/style.scss */
h1 {
  font-family: "VT323", serif;
  font-size: 6em;
}

/* line 79, ../../assets/sass/style.scss */
h2 {
  font-family: "VT323", serif;
  font-size: 3em;
}

/* line 84, ../../assets/sass/style.scss */
p, ul, li, h1, h2, h3, h4, h5, h6, .buttons {
  margin: 5px 0;
}

/* line 88, ../../assets/sass/style.scss */
#ajax_gif {
  position: fixed;
  top: 30px;
  right: 30px;
  display: none;
}

/* line 95, ../../assets/sass/style.scss */
a {
  color: #660033;
  text-decoration: none;
}
/* line 98, ../../assets/sass/style.scss */
a:hover {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
  color: #cc6699;
}

/* line 106, ../../assets/sass/style.scss */
hr {
  border: none;
  border-top: medium double #333333;
}

/* line 111, ../../assets/sass/style.scss */
.vimeo {
  background-color: #20B9EB;
}

/* line 115, ../../assets/sass/style.scss */
.hulu {
  background-color: #7DB737;
}

/* line 119, ../../assets/sass/style.scss */
.youtube {
  background-color: #A02723;
}

/* line 123, ../../assets/sass/style.scss */
.vimeo, .hulu, .youtube {
  padding: 10px;
}
/* line 125, ../../assets/sass/style.scss */
.vimeo p, .hulu p, .youtube p {
  color: white;
}
/* line 128, ../../assets/sass/style.scss */
.vimeo a, .hulu a, .youtube a {
  color: #E8E8E8;
}
/* line 130, ../../assets/sass/style.scss */
.vimeo a:hover, .hulu a:hover, .youtube a:hover {
  color: black;
}
/* line 134, ../../assets/sass/style.scss */
.vimeo hr, .hulu hr, .youtube hr {
  border-top: medium double white;
}

/* line 139, ../../assets/sass/style.scss */
.glowing {
  display: inline-block;
  color: #FF7FBA;
  text-shadow: 0.1em 0.1em 0.1em #fdedff;
}

/* line 145, ../../assets/sass/style.scss */
.hiding {
  display: none;
}

/* line 149, ../../assets/sass/style.scss */
.about_page {
  padding: 15px;
}
/* line 151, ../../assets/sass/style.scss */
.about_page li {
  list-style-type: disc;
  margin-left: 1em;
}

@media only screen and (max-width: 600px) {
  /* line 158, ../../assets/sass/style.scss */
  #yield {
    width: 100%;
  }
}
