.page
  :markdown
    ## About

    I made this to scratch an itch.

    * Save your favorite web video to Instapaper instead of their separate queueing systems
    * Watch them here
    * Like / Archive / Delete
    * Peace out

    It's built with the following technologies:

    * Ruby
    * Rails
    * Haml
    * Sass
    * instapaper_full
    * film_snob
    * jQuery
    * CoffeeScript

    Feel free to get in touch via the email link in the footer or on twitter at [@layaboutapp](http://twitter.com/layaboutapp) or [@maxjacobson](http://twitter.com/maxjacobson).
