.page
  :markdown
    ## About

    I made this to scratch an itch.

    * Save your favorite web video to Instapaper instead of their separate queueing systems
    * Watch them here
    * Like / Archive / Delete
    * Peace out

    Layabout is open source. Feel free to take a look at [the source code](https://github.com/maxjacobson/layabout) on GitHub.o

    Most of the interesting code was extracted into a library called [film snob](https://github.com/maxjacobson/film_snob/)

    Feel free to get in touch via the email link in the footer or on twitter at [@layaboutapp](http://twitter.com/layaboutapp) or [@maxjacobson](http://twitter.com/maxjacobson).
