- if current_user
  - if current_user.active?
    %p Thanks for logging in. Probably we'll show you some videos in this space
    - current_user.folders.each do |folder|
      %li= link_to folder.title, folder.path
  - else
    %p Sorry, you need a paid subscription to use Layabout.
- else
  - cache do
    %p
      Welcome to Layabout. This is an Instapaper client that focuses on videos. Read more on the
      = link_to 'about page', about_path
