- cache do
  %footer
    .footer_content
      :markdown
        * A [Max Jacobson](http://www.hardscrabble.net/about) project
        * [About this site](/about)
        * [Email me](mailto:max@hardscrabble.net)
